<div class="row admin-stats">

    <div class="col s12 m3 l3 x12 ">
        <a href="/admin/pending-regs">
            <div class="card white-text">
                <div class="card-content light-blue lighten-2">

                    <h4>Pending Blogger Apps</h4>
                    <div class="card-action white-text">
                        <span class="flow-text">
                            <i class="material-icons">add</i>
                            <%= pendingRegs %> </span>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <div class="col s12 m3 l3 x12">
        <a href="/admin/manage-bloggers">
            <div class="card white-text">
                <div class="card-content cyan lighten-2">

                    <h4>Manage Bloggers</h4>
                    <div class="card-action white-text">
                        <span class="flow-text">
                            <i class="material-icons">add</i>
                            <%= approvedBloggers %> </span>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <div class="col s12 m3 l3 x12 ">
        <a href="/admin/pending-blogs">
            <div class="card white-text">
                <div class="card-content yellow">

                    <h4>Pending Blog Posts</h4>
                    <div class="card-action white-text">
                        <i class="material-icons">add</i>
                        <span class="flow-text">
                            <%= pendingBlogPosts %> </span>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <div class="col s12 m3 l3 x12">
        <a href="/admin/user-bans">
            <div class="card white-text">
                <div class="card-content pink accent-2">

                    <h4>Pending User Ban Requests</h4>
                    <div class="card-action white-text">
                        <span class="flow-text">
                            <i class="material-icons">add</i>
                            <%= userBanRequests %> </span>
                    </div>
                </div>
            </div>
        </a>

    </div>

</div>