<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Administrator Login</title>
  <!-- Materialize Link -->
  <% include materializestyle %>
</head>

<body class="grey lighten-5">
  <!-- Mandy's navbar -->
  <% include navbar %>

  <main class="container">
    <div class="row z-depth-3">

      <div class="col s-10 offset-s2">
        <h1>Administrator Login</h1>

        <!-- LOGIN FORM -->
        <div class="login">
          <div class="login-fail">
            <% console.log(message) %>
            <% if(message === "Invalid password") { %>
            <p>
              <%= message %>
            </p>
            <% } else if (message === "Could not locate a user with that email") {%>
            <p>
              <%= message %>
            </p>
            <% } %>
          </div>
          <form action="/admin/login" method="POST">
            <input type="email" placeholder="email" name="admin_email" />
            <input type="password" placeholder="password" name="admin_password" />
            <input class="btn-large" type="submit" />
          </form>
        </div>
        <div class="row"></div>
        <div class="row"></div>
      </div>

    </div>




  </main>




  <% include footer %>
  <!-- JavaScript Links -->
  <% include materializejs %>
</body>

</html>
