<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Blogger Login</title>
  <!-- Materialize Link -->
  <% include materializestyle %>
</head>

<body class="grey lighten-5">
  <!-- Mandy's navbar -->
  <% include navbar %>

  <div class="row"></div>
  <main class="container">



    <div class="row z-depth-3">
      <!-- login -->
      <div class="col s5 offset-s1 login">
        <h3>Active Bloggers: Login</h3>
        <form class="" action="/blogger/login" method="POST">
          <input type="text" name="blogger_email" placeholder="Email" />
          <input type="password" name="blogger_password" placeholder="Password" />
          <input class="btn-large" type="submit" />
        </form>
      </div>

      <div class="row">
        <!-- registration -->
        <div class="col s5 registration">
          <h3>New Bloggers: Register</h3>
          <form class="" action="/blogs/register" method="post">
            <input type="text" name="name" placeholder="Name" />
            <input type="text" name="email" placeholder="Email" />
            <input type="text" name="blogger_password" placeholder="Password" />
            <input type="text" name="confirm_password" placeholder="Confirm Password" />
            <input type="date" name="DOB" placeholder="Date of Birth" />
            <label for="select">Years Blogging</label>
            <select class="" name="years_blogging">
              <option value="">Not long</option>
              <option value="">2 years</option>
              <option value="">3 years</option>
            </select>
            <input type="text" name="link" placeholder="Personal Link" />
            <input type="text" name="sample" placeholder="Writing Sample" />
            <input class="btn-large offset-s2" type="submit" value="register">
          </form>
        </div>
      </div>

    </div>
  </main>
  <% include footer %>
  <!-- JavaScript Links -->
  <% include materializejs %>
</body>

</html>