<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blogger Home Page</title>
  <!-- Materialize Link -->
  <% include materializestyle %>

     
    </style>
</head>

<body>
    <!-- Mandy's navbar -->
    <% include navbar %>

    <h1>Blogger Home</h1>
    <h3>Welcome,
        <%= loggedInBlogger.blogger_name%>
    </h3>
    <div class="current_blogs">
        <div class=row>
            <div class="col">
                <p>Title:
                    <%= %>
                </p>
            </div>
            <div class="col">
                <p>Rating:</p>
            </div>

        </div>
    </div>
</body>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>
