<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Create New Blog</title>
  <!-- Materialize Link -->
  <% include materializestyle %>

  <!-- Quill stylesheet -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
</head>

<body>
  <header>
    <!-- Mandy's navbar -->
    <% include navbar %>
    <!-- my stylesheet -->
    <link rel="stylesheet" href="../styles/style.css" />
  </header>

  <main class="container z-depth-2">
    <div class="row">
      <h1>Create New Blog Post</h1>
      <div class="blog-entry-form">
        <div id="formContainer" class="container">
          <form id="blogForm" action="/blogger/new" method="POST">
            <div class="row">
              <div class="">
                <div class="form-group">
                  <div class="input-field">
                    <i class="material-icons prefix">title</i>
                    <input type="text" placeholder="Blog Title" name="blog_title" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <label for="blog_content">Content</label>
              <input name="blog_content" type="hidden" />
              <div class="tall" id="editor-container"></div>
            </div>
            <div class="row">
              <button id="saveDelta" class="btn" type="submit">
                Submit Blog for Consideration
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <% include footer %>
  <!-- JavaScript Links -->
  <% include materializejs %>
</body>

</html>