<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blogger Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style media="screen">
      .column: {
        width: 400px;
        float: left;
      }
      h1 {
        text-align: center;
        margin: 40px;
      }
    </style>
  </head>
  <body>
    <h1>Login or Register</h1>
    <div class="container">
  <div class="row">
      <h3>Active Bloggers: Login</h3>
      <form class="" action="/blogs/" method="post">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="blogger_password" placeholder="Password">
      </form>
    <div class="col"><h3>New Bloggers: Register</h3>
      <form class="" action="/blogger/register" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="blogger_password" placeholder="Password">
        <input type="text" name="confirm_password" placeholder="Confirm Password">
      </form>
    </div>
    <div class="col">
      <form class="" action="/blogger/register" method="post">
        <input type="date" name="DOB" placeholder="Date of Birth">
        <label for="select">Years Blogging</label>
        <select class="" name="years_blogging">z
          <option value="">Not long</option>
        </select>
        <input type="text" name="link" placeholder="Personal Link">
        <input type="text" name="sample" placeholder="Writing Sample">
      </form>

    </div>
  </div>
  </div>
  </body>
</html>
