<div class="row"></div>
<div class="row"></div>

<footer class="page-footer light-blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Buythebook</h5>
                <p class="grey-text text-lighten-4">Thank you for visiting BuytheBook </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright Greg, David, and Mandy all rights reserved
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>