<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Splash</title>
    <style media="screen">
      .welcome {
        float: left;
        margin: 20px;

      }
      .blogBlurb {
        float: left;
        margin: 20px 0 0 100px;
      }
      .userLogin {
        float: left;
      }
      .bloggerLogin {
        float: left;
      }
    </style>
  </head>
  <body>
    <nav>

    </nav>
    <div class="welcome">
      <h1>Welcome</h1>
      <p>Please login below to enter buythebook.</p>
      <div class="userLogin">
        <a href="#">User Login/Registration</a>
      </div>
      <div class="bloggerLogin">
        <a href="#">Blogger Login/Registration</a>

      </div>
    </div>
    <div class="blogBlurb">
      <% for (i = 0; i < blogs.length; i++) { %>


        <h3><%= blogs[i].blog_title %></h3>
        <h5><%= bloggers[i].blogger_name %></h5>
        <img src="<%= bloggers[i].image_url %>" height="50px"" alt="">

        <% } %>


    </div>


  </body>
</html>
