<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Splash</title>
    <!-- Materialize Link -->
    <% include materializestyle %>
  </head>
  <body>
    <!-- Mandy's navbar -->
    <% include navbar %>
    <main class="container">
    <div class="welcome">
      <h1>Welcome</h1>
    </div>
    <div class="blogBlurb">
      <% for (i = 0; i < blogs.length; i++) { %>
      <h4><%= blogs[i].blog_title %></h4>
      <span><img src="<%= bloggers[i].image_url %>" height="100px" alt=""></span><h5><%= bloggers[i].blogger_name %></h5>

      <% } %>
    </div>
  </main>

    <!-- JavaScript Links -->
    <% include materializejs %>
  </body>
</html>
