<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>User Profile</title>
    <!-- Materialize Link -->
    <% include materializestyle %>
  </head>
  <body>
    <!-- Mandy's navbar -->
    <% include navbar %>

    <h2>Edit Profile</h2>
    <div class="">
      <form class="" action="/" method="post">
        <input type="text" name="user_name" placeholder="Name" />
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="screen_name" placeholder="Screen Name" />
        <input type="text" name="user_password" placeholder="Password" />
        <input
          type="text"
          name="confirm_password"
          placeholder="Confirm Password"
        />
        <input type="submit" />
      </form>
    </div>
    <!-- JavaScript Links -->
    <% include materializejs %>
  </body>
</html>
