body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
strong {
  font-weight: bold;
}

.tall {
  height: 400px;
}

.shopping-cart {
  height: 200px;
  width: 250px;
}

#side-nav {
  height: -webkit-fill-available !important
}




    
